.steps-container{
  padding: 0.5rem;
}

.steps{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.steps-heading{
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.step-3{
  grid-column: 1 / -1;
}

@media all and (max-width: 1000px){
  .steps-container{
    grid-template-columns: 1fr;
  }
}